<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calc. Desconto INSS</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <header>
            <h1>Calculadora de Desconto do INSS</h1>
        </header>

        <!--AQUI ESTAMOS BOTANDO O form, que
        é basicamente a ferramenta do Flask para
        acessarmos o html e enviarmos os dados
        para o nosso código python-->

        <!--O method="POST" MANDA as informações
        contidas no textarea para o python-->
        <form method="POST">
            <textarea
                class="prompt-input"
                name="salario_bruto"
                placeholder="Digite o seu salário bruto..."
                required
                autofocus
            ></textarea>
            <button type="submit">
                <i class="fa-solid fa-check"></i>
            </button>
        </form>

        {% if inss is defined %}
            <div class="resultado">
                <p>Salário bruto: R$ {{ salario_bruto }}</p>
                <p>INSS aproximado: R$ {{ inss }}</p>
            </div>
        {% endif %}

    </div>
        
</body>
</html>